* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

main {
  height: 100%;
  width: 100%;
  padding: 1.5rem;
  display: flex;
  gap: 1rem;
}

main .left,
main .right {
  height: 100%;
  flex-basis: 50%;
  border-radius: 0.7rem;
}

main .left {
  background-color: #782121;
  position: relative;
}

.left .code,
.code pre,
.code pre code {
  height: 100%;
  width: 100%;
  margin: 0;
  border-radius: 0.7rem;
  background-color: #0c0c0c;
}

main .left .review {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  background-color: rgb(185, 185, 215);
  color: #000000;
  padding: 0.5rem 2rem;
  font-weight: 500;
  cursor: pointer;
  user-select: none;
  border-radius: 0.7rem;
}


main .right {
  background-color: #343434;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  overflow: auto;
}

@media (max-width: 900px) {
  main {
    flex-direction: column;
  }

  main .left,
  main .right {
    flex-basis: auto;
    height: 50%;
  }

  main .left .review-btn {
    align-self: center; /* center button horizontally */
  }
}

/* Mobile screens */
@media (max-width: 600px) {
  main {
    padding: 1rem;
  }

  main .right {
    font-size: 1.1rem;
    padding: 1rem;
  }

  main .left,
  main .right {
    height: auto;
    min-height: 250px;
  }

  .left .code {
    min-height: 200px;
  }

  main .left .review-btn {
    width: 100%;
    text-align: center;
  }
  main .left .review {
    scale: 0.9;
    padding: 0.3rem 1rem;
  }
}



